name: Test Coverage

on:
  push:
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@cargo-llvm-cov

      - uses: actions/checkout@v5
      - run: cargo fetch

      - run: cargo llvm-cov --html

      - uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: target/llvm-cov/html
